<h1>Welcome to My Music Theory!</h1>
<p>The new app about music theory is still under construction. In order to be able to respond as well as possible to
	the wishes of our users, we make a small survey here in advance. The data is collected completely anonymously, no
	information about the user is stored.</p>
<hr>
<h2>Survey</h2>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header survey">
				Which themes are particularly important to you?
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item p-17-16">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="chordProgressions" (click)="check('chordProgressions')">
						<label class="form-check-label" for="chordProgressions">
							Chord progressions
						</label>
					</div>
				</li>
				<li class="list-group-item p-17-16">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="chords" (click)="check('chords')">
						<label class="form-check-label" for="chords">
							Chords
						</label>
					</div>
				</li>
				<li class="list-group-item p-17-16">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="intervals" (click)="check('intervals')">
						<label class="form-check-label" for="intervals">
							Intervals
						</label>
					</div>
				</li>
				<li class="list-group-item p-17-16">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="modulation" (click)="check('modulation')">
						<label class="form-check-label" for="modulation">
							Modulation
						</label>
					</div>
				</li>
				<li class="list-group-item p-17-16">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="notation" (click)="check('notation')">
						<label class="form-check-label" for="notation">
							Notation
						</label>
					</div>
				</li>
				<li class="list-group-item p-17-16">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="rhythmAndMeter" (click)="check('rhythmAndMeter')">
						<label class="form-check-label" for="rhythmAndMeter">
							Rhythm and meter
						</label>
					</div>
				</li>
				<li class="list-group-item p-17-16">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="scalesAndKeySignatures" (click)="check('scalesAndKeySignatures')">
						<label class="form-check-label" for="scalesAndKeySignatures">
							Scales and key signatures
						</label>
					</div>
				</li>
			</ul>
		</div>
		<p class="hint inline-block">Choose up to three topics.</p>
		<button type="button" class="btn btn-success float-end mt-2 mb-3" [disabled]="checkCounter < 1" (click)="submitSurvey()">Submit</button>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header results">
				<div class="flex-container">
					Results
					<p class="margin-0"><span class="bold">{{count}}</span>{{count !== 1 ? ' Participants' : ' Participant'}}</p>
				</div>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item p-10-16" *ngFor="let item of sortedDataWithPercentage; let i = index">
					<div class="flex-container">
						<span class="fs-1rem bold">{{item.category}}</span>
						<div>
							<span class="fs-1rem bold">{{item.count}}</span>
							<span class="fs-1rem">{{item.count !== 1 ? ' Votes' : ' Vote'}}</span>
						</div>
					</div>
					<app-progress-bar [value]="item.percentage" [previousValue]="previousValues[i]"></app-progress-bar>
				</li>
			</ul>
		</div>
	</div>
</div>
