<h1>Sentence Form</h1>
<p>When composing a melody, it is helpful to use the sentence form as a guide. This creates self-contained
	musical sections and the themes and motifs can be easily understood and memorized by the listener.</p>

<span>Well suited for:</span>
<span class="my-badge green-bg-100">Main Themes</span>
<span class="my-badge green-bg-100">B Themes</span>
<span class="my-badge green-bg-100">Intros</span>
<span class="my-badge green-bg-100">Outros</span>
<span class="my-badge green-bg-100">Transitions</span>
<span class="my-badge green-bg-100">Adventure Theme</span>
<span class="my-badge green-bg-100">Opening Allegro to a Sonata</span>
<br>
<span class="inline-block mt-3">Characteristics:</span>
<span class="my-badge orange-bg-100">Energy</span>
<span class="my-badge orange-bg-100">Action</span>
<span class="my-badge orange-bg-100">Motion</span>

<hr>

<p class="black">Ludwig van Beethoven - Sonata No. 1 in F minor, Op. 2 No. 1</p>

<div class="row mt-3">
	<div class="col-6">
		<h4 class="explanation">Basic Idea</h4>
	</div>
	<div class="col-6">
		<h4 class="explanation">Basic Idea Repeated</h4>
	</div>
</div>

<div id="score"></div>

<div class="row">
	<div class="col-6">
		<h4 class="explanation">Continuation</h4>
	</div>
	<div class="col-6">
		<h4 class="explanation">Cadence</h4>
	</div>
</div>

<div id="score2"></div>

<p>
	Start with a 2 bar basic idea. Repeat the basic idea with or without variation.
	Bars 1-4 are called the presentation. It should have a feeling of harmonic stability.
	The continuation in bar 5-6 is where the magic happens. It should have a feeling of forward motion and movement.
	This could mean more motivic units in less time, more chords per bar or more active rhythm.
	It moves us from the bginning to the end. In this example it moves us to the highest note of the theme, the C5 at the beginning of bar 7.
	The cadence finally closes off the theme. It could be a perfect cadence or a half cadence.
	But there should be a sence of punctuation, a breath, where the listener can rest.
</p>

<hr>

<p>Sources:</p>
<a href="https://www.youtube.com/watch?v=ucNWbawSiZM&t=475s" target="_blank">
	WRITE A GREAT MELODY with this Formula | Sentence Form in Music Composition by Ryan Leach
</a>
<br>
<a href="https://www.amazon.de/dp/0199987297?tag=ryanleachmu03-21&keywords=analyzing%20classical%20form%20by%20william%20caplin&geniuslink=true" target="_blank">
	Analyzing Classical Form by William Caplin
</a>
