<h1>Sentence Form</h1>
<div class="row">
	<div class="col-md-6 description">
		<p>When composing a melody, it is helpful to use the sentence form as a guide. This creates self-contained
			musical sections and the themes and motifs can be easily understood and memorized by the listener.</p>
	</div>
	<div class="col-md-6">
		<div class="my-badge green-bg-100">Main Themes</div>
		<div class="my-badge green-bg-100">B Themes</div>
		<div class="my-badge green-bg-100">Intros</div>
		<div class="my-badge green-bg-100">Outros</div>
		<div class="my-badge green-bg-100">Transitions</div>
		<div class="my-badge green-bg-100">Adventure Theme</div>
		<div class="my-badge green-bg-100">Opening Allegro to a Sonata</div>
		<div class="my-badge orange-bg-100">Energy</div>
		<div class="my-badge orange-bg-100">Action</div>
		<div class="my-badge orange-bg-100">Motion</div>
	</div>
</div>

<hr>

<div class="scroll-x">
	<div class="score-container mt-3">
		<div class="score-headline">
			<h4>Basic Idea</h4>
		</div>
		<div class="score-headline">
			<h4>Basic Idea Repeated</h4>
		</div>
	</div>
	
	<div id="score"></div>
</div>

<div class="scroll-x">
	<div class="score-container">
		<div class="score-headline">
			<h4>Continuation</h4>
		</div>
		<div class="score-headline">
			<h4>Cadence</h4>
		</div>
	</div>
	
	<div id="score2"></div>
</div>

<p class="small right black">Ludwig van Beethoven - Sonata No. 1 in F minor, Op. 2 No. 1</p>

<hr>

<div class="row description">
	<div class="col-md-6">
		<p>
			Start with a <strong>2 bar basic idea</strong>. <strong>Repeat the basic idea</strong> with or without variation.
			Bars 1-4 are called the presentation. It should have a feeling of harmonic stability.
		</p>
		<p>
			The <strong>continuation</strong> in bar 5-6 is where the magic happens. It should have a feeling of <strong>forward motion and movement</strong>.
			This could mean more motivic units in less time, more chords per bar or more active rhythm.
		</p>
	</div>
	<div class="col-md-6">
		<p>
			It moves us from the beginning to the end. In this example it moves us to the highest note of the theme, the C5 at the beginning of bar 7.
		</p>
		<p>
			The <strong>cadence</strong> finally closes off the theme. It could be a perfect cadence or a half cadence.
			But there should be a sense of punctuation, a breath, where the <strong>listener can rest</strong>.
		</p>
	</div>
</div>

<hr>

<p>Sources:</p>
<a href="https://www.youtube.com/watch?v=ucNWbawSiZM&t=475s" target="_blank">
	WRITE A GREAT MELODY with this Formula | Sentence Form in Music Composition by Ryan Leach
</a>
<br>
<a href="https://www.amazon.de/dp/0199987297?tag=ryanleachmu03-21&keywords=analyzing%20classical%20form%20by%20william%20caplin&geniuslink=true" target="_blank">
	Analyzing Classical Form by William Caplin
</a>
