<h1>About this project</h1>
<div class="row description">
	<div class="col-md-6">
		<img src="../assets/torben_jan_mueller_438x640.jpg" alt="Torben Jan Müller" class="photoBiografie" />
		<p>My name is <b>Torben Jan Müller</b>, I am a freelance film composer. I studied at the Akademie Deutsche Pop
			in
			Cologne and graduated as a <b>film
				composer</b>, <b>composer</b>, <b>arranger</b> and <b>artistic producer</b>.
		</p>
		<p>I have read many books about harmony and composition and have studied music theory intensively. What was
			always missing for me was a complete work where you can learn and look up everything that is important for
			musicians.
			You need a lot of different learning
		</p>
	</div>
	<div class="col-md-6">
		<p>sources and have to laboriously put everything together yourself. In addition, much of the content is too
			theoretical and has no connection to practice.</p>
		<p>On the other hand, important topics such as the Sentence Form or the Period Form are not even mentioned. On
			this website I will gradually provide all the important topics that are relevant <b>for composers</b>.</p>
		<p>The focus is on the benefits for writing music. Why do I need certain techniques and how do I use them? It
			covers basics, such as a checklist for composing a melody, as well as special topics such as modal
			interchange, practically
			applicable harmony, various composition techniques and much more.</p>
	</div>
</div>

<hr>

<p>Personal recommendations:</p>

<a href="https://www.youtube.com/@RyanLeach" target="_blank">
	Ryan Leach's YouTube channel
</a>
<br>
<a href="https://www.amazon.de/dp/0199987297?tag=ryanleachmu03-21&keywords=analyzing%20classical%20form%20by%20william%20caplin&geniuslink=true"
	target="_blank">
	Analyzing Classical Form by William Caplin
</a>