<h1>About this project</h1>
<div class="row description">
	<div class="col-md-6">
		<img src="../assets/torben_jan_mueller_438x640.jpg" alt="Torben Jan Müller" class="photoBiografie" />
		<p>My name is <b><a href="https://www.torben-jan-mueller.com/" target="_blank">Torben Jan Müller</a></b>, I am a freelance film composer. I studied at the Akademie Deutsche Pop
			in
			Cologne and graduated as a <b>film
				composer</b>, <b>composer</b>, <b>arranger</b> and <b>artistic producer</b>.
		</p>
		<p>I have read many books about harmony and composition and have studied music theory intensively. What was
			always missing for me was a complete work where you can learn and look up everything that is important for
			musicians.
			You need a lot of different learning
		</p>
	</div>
	<div class="col-md-6">
		<p>sources and have to laboriously put everything together yourself. In addition, much of the content is too
			theoretical and has no connection to practice.</p>
		<p>On the other hand, important topics such as the <a href="https://en.wikipedia.org/wiki/Sentence_(music)" target="_blank">Sentence Form</a> or the <a href="https://en.wikipedia.org/wiki/Period_(music)" target="_blank">Period Form</a> are not even mentioned. On
			this website I will gradually provide all the important topics that are relevant <b>for composers</b>.</p>
		<p>The focus is on the benefits for writing music. Why do I need certain techniques and how do I use them? It
			covers basics, such as a checklist for composing a melody, as well as special topics such as modal
			interchange, practically
			applicable harmony, various composition techniques and much more.</p>
	</div>
</div>

<hr>

<p>Personal recommendations:</p>

<a href="https://www.youtube.com/@RyanLeach" target="_blank">
	Ryan Leach's YouTube channel
</a>
<br>
<a href="https://www.amazon.de/dp/0199987297?tag=ryanleachmu03-21&keywords=analyzing%20classical%20form%20by%20william%20caplin&geniuslink=true"
	target="_blank">
	Analyzing Classical Form by William Caplin
</a>
<br>
<a href="https://www.amazon.de/Musical-Composition-Craft-Alan-Belkin/dp/0300218990" target="_blank">
	Musical Composition by Alan Belkin
</a>
<br>
<a href="https://www.baerenreiter.com/shop/produkt/details/BVK2115/" target="_blank">
	Harmonielehre by Diether de la Motte
</a>
<br>
<a href="https://www.baerenreiter.com/shop/produkt/details/BVK1173/" target="_blank">
	Melodie by Diether de la Motte
</a>
<br>
<a href="https://www.stretta-music.de/grabner-allgemeine-musiklehre-nr-118425.html" target="_blank">
	Allgemeine Musiklehre by Hermann Grabner
</a>
<br>
<a href="https://www.leu-verlag.de/Musiktheorie/Harmonielehre-und-Songwriting::166.html" target="_blank">
	Harmonielehre und Songwriting by Markus Fritsch, Peter Kellert, Andreas Lonardoni, Katrin Jandl
</a>
<br>
<a href="https://www.schott-music.com/de/harmonielehre-fuer-die-praxis-no234469.html" target="_blank">
	Harmonielehre für die Praxis by Jürgen Ulrich
</a>