<nav class="navbar navbar-expand-lg bg-dark navbar-custom" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">My Music Theory</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<!-- <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link" routerLink="/composing-techniques">Composing Techniques</a>
				</li> -->
				<li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Composing Techniques
					</a>
					<ul class="dropdown-menu">
						<li class="nav-item">
							<a class="dropdown-item" routerLink="/">Sentence Form</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item" routerLink="/period-form">Period Form</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item disabled" aria-disabled="true">ABA Form</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item disabled" aria-disabled="true">Melody Checklist</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item disabled" aria-disabled="true">Chromatic Mediants</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item disabled" aria-disabled="true">Secondary Dominants</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item disabled" aria-disabled="true">Musical Motive</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item disabled" aria-disabled="true">Musical Phrase</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item disabled" aria-disabled="true">Memorable Themes</a>
						</li>
						<!-- <li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#">Something else here</a></li> -->
					</ul>
				</li>
				<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link" routerLink="/survey">Survey</a>
				</li>
			</ul>
		</div>
	</div>
</nav>