<h1>Sentence and Period Form</h1>
<p>When composing a melody, it is helpful to use the sentence or priod form as a guide. This creates self-contained
	musical sections and the themes and motifs can be easily understood and memorized by the listener.</p>
<hr>
<h2 class="inline-block">Sentence Form (arrow icon)</h2>
<span class="my-badge">Main Themes</span>
<span class="my-badge">B Themes</span>
<span class="my-badge">Intros</span>
<span class="my-badge">Outros</span>
<span class="my-badge">Transitions</span>
<span class="my-badge">Adventure Theme</span>
<span class="my-badge">Opening Allegro to a Sonata</span>
<span class="my-badge">Energy</span>
<span class="my-badge">Action</span>
<span class="my-badge">Motion</span>

<p>Ludwig van Beethoven - Sonata No. 1 in F minor, Op. 2 No. 1</p>

<div class="row mt-3">
	<div class="col-6">
		<h4 class="explanation">Basic Idea</h4>
	</div>
	<div class="col-6">
		<h4 class="explanation">Basic Idea Repeated</h4>
	</div>
</div>

<div id="score"></div>

<div class="row">
	<div class="col-6">
		<h4 class="explanation">Continuation</h4>
	</div>
	<div class="col-6">
		<h4 class="explanation">Cadence</h4>
	</div>
</div>

<div id="score2"></div>

<p>
	Start with a 2 bar basic idea. Repeat the basic idea with or without variation.
	Bars 1-4 are called the presentation. It should have a feeling of harmonic stability.
	The continuation in bar 5-6 is where the magic happens. It should have a feeling of forward motion and movement.
	This could mean more motivic units in less time, more chords per bar or more active rhythm.
	It moves us from the bginning to the end. In this example it moves us to the highest note of the theme, the C5 at the beginning of bar 7.
	The cadence finally closes off the theme. It could be a perfect cadence or a half cadence.
	But there should be a sence of punctuation, a breath, where the listener can rest.
</p>

<hr>
<h2 class="inline-block">Period Form (circle icon)</h2>
<span class="my-badge">Love Themes</span>
<span class="my-badge">Simple March</span>
<span class="my-badge">Stability</span>
<span class="my-badge">Balanced</span>
<span class="my-badge">Calmness</span>

<div class="row mt-3">
	<div class="col-6">
		<h4 class="explanation">Basic Idea</h4>
	</div>
	<div class="col-6">
		<h4 class="explanation">Contrasting Idea</h4>
	</div>
</div>

<div id="score3"></div>

<div class="row">
	<div class="col-6">
		<h4 class="explanation">Basic Idea Returned</h4>
	</div>
	<div class="col-6">
		<h4 class="explanation">Cadence</h4>
	</div>
</div>

<div id="score4"></div>