<h1>Period Form</h1>
<div class="row">
	<div class="col-md-6 description">
		<p>The period form has been used by composers for centuries to write music.</p>
	</div>
	<div class="col-md-6">
		<div class="my-badge green-bg-100">Love Themes</div>
		<div class="my-badge green-bg-100">Simple March</div>
		<div class="my-badge orange-bg-100">Stability</div>
		<div class="my-badge orange-bg-100">Balanced</div>
		<div class="my-badge orange-bg-100">Calmness</div>
	</div>
</div>

<hr>

<div class="row mt-3">
	<div class="col-6">
		<h4 class="explanation">Basic Idea</h4>
	</div>
	<div class="col-6">
		<h4 class="explanation">Contrasting Idea</h4>
	</div>
</div>

<div id="score3"></div>

<div class="row">
	<div class="col-6">
		<h4 class="explanation">Basic Idea Returned</h4>
	</div>
	<div class="col-6">
		<h4 class="explanation">Cadence</h4>
	</div>
</div>

<div id="score4"></div>

<p class="small right black">Wolfgang Amadeus Mozart - Piano Sonata No. 11 in A major, KV 331 (300i)</p>

<hr>

<div class="row description">
	<div class="col-md-6">
		<p>
			Start with a <strong>2 bar basic idea</strong>, usually pretty harmonically stable (stay on the tonic).
			The basic idea is your main motif, it is the main identifying piece of your theme.
		</p>
		<p>
			You respond to it with a <strong>2 bar contrasting idea</strong>. This is usually new material or variation
			on the basic idea.
			It feels like we're going somewhere, we're <strong>moving forward</strong>. It feels
			like a question. By the end of the phrase we should feel like we're unresolved.
			This whole first phrase (bar 1 - 4) is called the <strong>antecedent</strong>. It gets responded to and
			answered by the <strong>consequent</strong> (bar 5 - 8).
		</p>
	</div>
	<div class="col-md-6">
		<p>
			At the beginning of the consequent (bar 5 and 6) you <strong>return to your basic idea</strong>. You can
			vary it, you can change it, but really at least the beginning of the basic idea should be the same.
		</p>
		<p>
			And then finally in bar 7 and 8 we have the <strong>cadence</strong>. It could be a perfect or a half
			cadence, but it should feel like a pretty
			strong sense of punctuation. It is a good idea for your cadence to be the opposite of whatever happened in
			your contrasting idea
			(e.g. if your contrasting idea ended on the V chord, you probably want to end your whole theme on the I
			chord).
		</p>
	</div>
</div>

<hr>

<p>Sources:</p>
<a href="https://www.youtube.com/watch?v=Z8uYdzU_ZR8" target="_blank">
	HOW TO WRITE A MELODY 1: Period - An Easy Formula for Better Melodies and Themes with Balance by Ryan Leach
</a>
<br>
<a href="https://www.amazon.de/dp/0199987297?tag=ryanleachmu03-21&keywords=analyzing%20classical%20form%20by%20william%20caplin&geniuslink=true"
	target="_blank">
	Analyzing Classical Form by William Caplin
</a>