<h1>Period Form</h1>
<p>The period form has been used by composers for centuries to write music.</p>

<span>Well suited for:</span>
<span class="my-badge green-bg-100">Love Themes</span>
<span class="my-badge green-bg-100">Simple March</span>
<br>
<span class="inline-block mt-3">Characteristics:</span>
<span class="my-badge orange-bg-100">Stability</span>
<span class="my-badge orange-bg-100">Balanced</span>
<span class="my-badge orange-bg-100">Calmness</span>

<hr>

<p class="black">Ludwig van Beethoven - Sonata No. 1 in F minor, Op. 2 No. 1</p>

<div class="row mt-3">
	<div class="col-6">
		<h4 class="explanation">Basic Idea</h4>
	</div>
	<div class="col-6">
		<h4 class="explanation">Contrasting Idea</h4>
	</div>
</div>

<div id="score3"></div>

<div class="row">
	<div class="col-6">
		<h4 class="explanation">Basic Idea Returned</h4>
	</div>
	<div class="col-6">
		<h4 class="explanation">Cadence</h4>
	</div>
</div>

<div id="score4"></div>

<p>
	Start with a 2 bar basic idea. Repeat the basic idea with or without variation.
	Bars 1-4 are called the presentation. It should have a feeling of harmonic stability.
	The continuation in bar 5-6 is where the magic happens. It should have a feeling of forward motion and movement.
	This could mean more motivic units in less time, more chords per bar or more active rhythm.
	It moves us from the bginning to the end. In this example it moves us to the highest note of the theme, the C5 at the beginning of bar 7.
	The cadence finally closes off the theme. It could be a perfect cadence or a half cadence.
	But there should be a sence of punctuation, a breath, where the listener can rest.
</p>

<hr>

<p>Sources:</p>
<a href="https://www.youtube.com/watch?v=Z8uYdzU_ZR8" target="_blank">
	HOW TO WRITE A MELODY 1: Period - An Easy Formula for Better Melodies and Themes with Balance by Ryan Leach
</a>
<br>
<a href="https://www.amazon.de/dp/0199987297?tag=ryanleachmu03-21&keywords=analyzing%20classical%20form%20by%20william%20caplin&geniuslink=true" target="_blank">
	Analyzing Classical Form by William Caplin
</a>