:root {
	--dark-grey: #616161;
	--medium: 1.2rem;
}

body a {
	text-decoration: underline;
	color: var(--bs-body-color);
	cursor: pointer;
	font-size: var(--medium);
}

.center {
	text-align: center;
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

.flex-center-v-h {
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-height {
	height: calc(100vh - 16.5rem);
}

.margin-0 {
	margin: 0;
}

.bold {
	font-weight: bold;
	color: var(--bs-body-color);
}

.inline-block {
	display: inline-block;
}

canvas {
	height: 50%;
	width: 50%;
	position: absolute;
	top: 0;
	left: 50%;
}

body h1 {
	font-size: 2rem;
	color: var(--bs-body-color);
}

body h2 {
	font-size: 1.5rem;
	color: var(--bs-body-color);
}

body p {
	font-size: var(--medium);
	color: var(--bs-body-color);
}

body .card-header {
	font-size: 1.3rem;
	color: var(--bs-body-color);
}

body .survey {
	background-color: #E6FFF3;
}

body .results {
	background-color: #eee;
}

.hint {
	font-size: 1rem;
}

.p-10-16 {
	padding: 10px 16px;
}

.p-15-16 {
	padding: 15px 16px !important;
}

.fs-1rem {
	font-size: 1rem !important;
}

.my-badge {
	display: inline-block;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 0 10px 10px 0;
	font-weight: bold;
}

.orange-bg-100 {
	background-color: #FFE0B2;
}

.green-bg-100 {
	background-color: #C8E6C9;
}

.small {
	font-size: 0.5rem;
}

.right {
	text-align: right;
}

.black {
	color: #000;
}

.description p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.space-between {
	justify-content: space-between;
}

.photoBiografie {
	width: 218px;
	float: left;
	margin: 8px 20px 0 0;
}

.score-container {
	width: 1298px;
	overflow: hidden;
}

.score-headline {
	display: inline-block;
	width: 649px;
	text-align: center;
}

/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 1400px) {
	.scroll-x {
		overflow-x: scroll;
	}
}