.flex-container {
	display: flex;
	justify-content: space-between;
}

.margin-0 {
	margin: 0;
}

.bold {
	font-weight: bold;
	color: #616161;
}

.inline-block {
	display: inline-block;
}

canvas {
	height: 50%;
	width: 50%;
	position: absolute;
	top: 0;
	left: 50%;
}

body h1 {
	font-size: 2rem;
	color: #616161;
}

body h2 {
	font-size: 1.5rem;
	color: #616161;
}

body p {
	font-size: 1.2rem;
	color: #616161;
}

body .card-header {
	font-size: 1.3rem;
	color: #616161;
}

body .survey {
	background-color: #E6FFF3;
}

body .results {
	background-color: #eee;
}

.hint {
	font-size: 1rem;
}

.p-10-16 {
	padding: 10px 16px;
}

.p-17-16 {
	padding: 17px 16px;
}

.fs-1rem {
	font-size: 1rem !important;
}

.my-badge {
	border-radius: 10px;
	padding: 5px 10px;
	margin-left: 10px;
	font-weight: bold;
}

.orange-bg-100 {
	background-color: #FFE0B2;
}

.green-bg-100 {
	background-color: #C8E6C9;
}

.explanation {
	text-align: center;
}

.black {
	color: #000;
}